    
.darkrow        /* dark table rows */
{
    background: #dddddd;
}

.right          /* adjust text to the right */
{
    text-align: right;
}

.margin         /* margin around table rows (spec. in td) */
{
    margin: 3px;
}

