.clientSelect
{
    font-family: courier;  
    font-size: 18px; 
    border:solid,3px; 
    overflow-y: scroll;
    min-width: 14em;
}

.leftFloat
{
    margin-right: 1em; 
    float:left;
}

.float
{
    float;
    margin-right: 1em;
}

.monospace
{
    font-family: Consolas, monospace; 
    font-size: 16px;
}

.topAlign
{
    vertical-align: top;
}

.container          /* all info in the body up to the footer */
{
    max-width: 780px; 
    clear: both;
    min-height: 85%;
    font-size: 16px;
    line-height: 1.5;

    padding-left:5px;
    padding-right:5px;

    margin-left: auto;
    margin-right: auto;
}

.darkrow        /* dark table rows */
{
    background: #dddddd;
}

.logo
{
    float: right;
    height: 18%;
    width: 18%;
}
    
.full               /* used to fillup the page (body) completely */
{
    max-width: 900px;       /* 780px; */
    max-height: 560px;
    font-family:  Arial, Verdana, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;

    /* margin:0px 20px;        left, right: 5px */
/*    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    height:100%;
    width: 100%;
*/
}

.lastline                                                                       
{                                                                               
    padding-left:5px;
    padding-right:5px;
    font-size: 90%;
    padding-left:10px;
    padding-right:10px;
/*
    margin:0;
    width:100%;   
    display: flex;
    align-items: center;
    height:1.5em;
    background: #ffffbb;
*/
}                                                                               

.lightgrey        /* dark table rows */
{
    background: #f0f0f0;
}

.right          /* adjust text to the right */
{
    text-align: right;
}

.margin         /* margin around table rows (spec. in td) */
{
    margin: 3px;
}

.title          /* top-title line of the page */
{
    padding:2em;
    font-size: 200%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}

.top-menu-markup
{
    clear: both;
    background-color: #eeeeee;
    height: 2.5em;          // height grey bar
}

.wiper                      /* wipes overflow of 'behind-left-menu */           
{                                                                               
    position: fixed;                                                            
                                                                                
    width: 100%;                                                                
    height: 100%;                                                               
                                                                                
    padding-left: 0;                                                            
    padding-bottom: 0;                                                          
    margin: 2% 1.5em 0 0;                                                       
    background: white;                                                          
    z-index: -1;                                                                
}                                                                               

.li-linewise        /* items in a list next to each other, use with .spread */
{
    margin: .35em auto;      // x em: distance text from the top of the
                            // grey bar
    display: inline;
}

.spread             /* spread elements over the available width */              
{
    list-style-type: none;
    margin: 0;
    padding: 0.25em 0;
    display: flex;
    justify-content: center
}

.center-text
{
    text-align: center;
}

.center-table
{
    margin-left: auto;
    margin-right: auto;
}

.hr3em
{
    width: 3em;
}

